{
	"env": {
		"test": {
			"presets": [
				[
					"@babel/plugin-transform-modules-commonjs",

					{
						"targets": {
							"node": 18
						}
					}
				],
				[
					{
						"useBuiltIns": "usage",
						"corejs": 3
					}
				]
			]
		}
	},
  "plugins": [
		"@babel/syntax-dynamic-import",
		"@babel/plugin-transform-class-properties",
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				// "alias": {
				// 	"repository1": "./src/app/backend",
				// 	"@repository1/package": "./src/app/backend/package.json",
				// 	"repository2": "./src/app/frontend",
				// 	"@repository2/package": "./src/app/frontend/package.json"
				// }
			}
		]
  ],

	"presets": [
		"@babel/preset-env"
	]
}
