@tailwind base;
@tailwind components;
@tailwind utilities;


html {
background-color: #F4F4F4 !important;
}


#root {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
#root,
.toolbar,
.content {
	margin: 0 auto;
}
.content {
	position: relative;
	padding-bottom: 115px;
}
div,
a {
box-sizing: border-box;
}

div,
p,
headers {
cursor: default;

}

a {
cursor: pointer;
}
@layer components {
.toolbar,
	.content,
		footer {

width: 100%;
	max-width: 1660px;
}
/* ------------------ header start ------------------ */

.profile_preview span {
	display: block;
	min-height: 40px;
	width: 40px;

background: no-repeat center url('./pic/avatar_.svg');
}

.profile_name {
	min-width: 101px;
	width: 100%;
	max-width: 150px;
}

.avatar.placeholder>div {
	justify-content: flex-start;
	align-items: flex-start;

}

.vector span {
	display: block;
	min-height: 50px;
	width: 30px;
	background: no-repeat center url('./pic/vector.svg');
	background-position-y: 14px;
	background-position-x: 17px
}

nav li a.link {
	text-decoration: none;
}

nav li:hover {
	border-bottom: 2px solid #FF0508;
}

nav li:hover a:hover {
	color: #FF0508;
}

nav:hover a.link {

	text-decoration: none;
}
/* header completed */

/* ------------------ sidebar start ------------------ */
.sidebar {
	width: 282px
}

.sidebar>div,
.sidebar>section {
	width: 266px;
margin: 0 auto;
}

.money span,
.counter_money span,
.maney,
.percerntiles,
.case_counter {
	display: block;
	position: relative;
}

.money span:after,
.counter_money span:after,
.counter_money__today span:after,
.case_counter::after,
.total_money span::after {
	content: '₽';
	display: inline-block;
	position: absolute;
	right: 0;
}

/* .counter_money>span::before {
	content: '-';
	display: inline-block;
	position: absolute;
	left: 0;
}

*/
/* .case .counter_money>span::before {
	content: '+';
	display: inline-block;
	position: absolute;
	left: 0;
}

*/
.counter_money__today span:after {}

.counter_money__percerntiles::after,
.counter_money__percerntiles::before {
	display: inline-block;
	position: absolute;
	right: 0;
}

.counter_money__percerntiles::after {
	content: "(";
	left: 0;
}

.counter_money__percerntiles::before {
	content: "%)";
	right: 0;
}
/* sidebar completed */
/* ------------------ Sidebar broker start ------------------ */
.broker>div {
	min-height: 92px;
}

/* bag */
.case_preview {
	background: no-repeat center url('./pic/bag.svg');
	
	width: 56px;

}
.case_preview.bot {
	background: no-repeat center url('./pic/bot.png');
}

.broker>div:last-of-type {
	padding-bottom: 20px;
	;
}

.broker {
	border-bottom: solid 1px #e5e7eb;
}

/* Sidebar broker completed */
/* ------------------ Sidebar bank start ------------------ */

.bank .bank_preview {
	background: no-repeat center url('./pic/bottom_plus.svg');
	background-position-y: 6px;
}

/* Sidebar bank completed */
/* ------------------ Sidebar bot start ------------------ */
.bot_preview {
	background: no-repeat center url('./pic/large_bot.png');
	width: 159px;
	min-height: 167px;
	margin: 0 auto;
}

.bot h5,
.bot button {
	display: block;
	width: 202px;

	margin: 0 auto;
}

.bot h5 {
	margin-bottom: 15px;
}

/* Sidebar bot completed */

aside,
main>section,
.analytics section {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
main section.analytics {
	box-shadow: none;
}
/* ------------------ Main start ------------------ */
main {
	width: 100%;
	max-width: 1378px;
	position: relative;
	}
	
	.top_reference {
		position: absolute;
		top: 49px;
		right: 40px;
	}
	
	.top_reference:hover a:hover {
		text-decoration: underline;
		color: #EC595B;
}

main>section {
	width: 100%;
	max-width: 1354px;
	height: 408px;
		overflow: hidden;
	}
	
	main>section:nth-child(2) {
		height: 476px;
}

.total_money {
	border-bottom: solid 1px #F4F4F4;
}

.total_money span {
	display: inline-block;
	position: relative;
}

.charf {
	width: inherit;
	min-height: 257px;
}

.charf {
	background: no-repeat url('./components/main/img/statistics.png');
	background-position-x: 16px;
	background-position-y: center;
}

/* Main completed */
/* ------------------ Main analytics start ------------------ */
section.analytics {}

.analys_menu li span {
	font-weight: 400;
	font-size: 1rem;
	min-height: 37px;
		max-height: 37px;
}

.analys_menu span:hover {
	border-bottom: solid 2px #FF0508;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #FF0508;
}

.analys_menu .menu {
	padding-top: 18px;
}

.analys_graph {
	position: relative
}

.analys_graph>span {
	position: absolute;
	color: #13161C;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	top: 26px;
	font-size: 12px;
}

.analys_graph>div:last-of-type {
	justify-content: center;
	padding-left: 15px;
}

.analys_graph li {
	align-items: center;
	border-radius: 8px;

}

.list_investment {
	width: 100%;
}

.list_investment li img {
	display: inline-block;
	max-width: 22px;
	min-height: 8px;
	max-height: 8px;
}

.list_investment li span {
	width: max-content;
	padding-left: 10px;
}

/* table a last invest*/
.table_last_invest {
	padding-right: 47px;
}

.table_last_invest th {
	padding-top: 24px;
}

.table_last_invest th:nth-child(1) {
	padding: 24px 0 0 14px;
	text-align: left;

}

.table_last_invest th:nth-child(1),
.table_last_invest tr:nth-child(n+2) td:nth-child(1) {
	min-width: 138px;
}

.table_last_invest tr:nth-child(n+2) td:nth-child(1) {
	padding-left: 10px;
	flex-direction: row;
	flex-wrap: nowrap;
	display: flex;


}


.table_last_invest tr:nth-child(n+2) td:nth-child(1) div {
	display: flex;
	flex-direction: column;
	padding-left: 12px;
}

.table_last_invest tr:nth-child(n+2) td:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-around
}

.events tr:nth-child(n+2) td:nth-child(2) {
	flex-direction: row;
}

.table_last_invest tr:nth-child(n+2) td {
	padding-top: 24px;

}

.table_last_invest tr:nth-child(n+2) td:nth-child(n+2) {
	align-items: flex-start;
	justify-content: flex-start
}


.table_last_invest .counter_money {
	display: flex;
	text-align: center;

}

.table_last_invest tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.table_last_invest .counter_money span {
	display: inline-block;
	position: relative;
	width: min-content;

	padding-right: 0.75rem;
	margin: 0 auto;
}

.table_last_invest .counter_moneyfont-sans,
.table_last_invest .percerntile {
	position: relative;
}

.table_last_invest .counter_money__percerntiles {
	padding: 0 1.15rem 0 0.35rem;
}

/* Main a last events */
.events {
	margin: 0;
}

.last_events tr {
	justify-content: flex-start;
}

.last_events tr td,
.last_events tr th {
	gap: 10px;
}

.last_events tr th:nth-child(3) {
	width: 100%;
	max-width: 56%;
}

.last_events tr th:nth-child(5) {
	width: 100%;
	max-width: 18%;
}

.last_events tr .last_events tr:nth-child(1) {
	justify-content: flex-start;
	gap: 90px
}


.last_events tr:nth-child(n+2) td:nth-child(2) {
	justify-items: flex-start;

	width: 100%;
	max-width: 570px;

}

.last_events tr:nth-child(n+2) td:nth-child(2) div {
	display: flex;
	flex-direction: column;
}

.last_events tr:nth-child(n+2) td:nth-child(2) div span:first-of-type {
	color: #13161C;
}

.last_events tr:nth-child(n+2) td:nth-child(2) div span:last-of-type {
	color: #727272;
}

.last_events tr:nth-child(n+2) td:nth-child(3) {
	width: 16%;
}

.last_events tr:nth-child(n+2) td:nth-child(4) {
	text-align: end;
	width: 100%;
	max-width: 9%;
}

.last_events tr:nth-child(n+2) td:last-of-type {
	margin-left: 5%;
	width: 100%;
	max-width: 7%;
	text-align: end;
}

/* It's a Main completed */
/* ------------------ Open a new type bank ------------------ */
.openk_bank>section {

	box-shadow: none;
}

.openk_bank {
	padding-top: 49px;

}

.bank_type {
	padding-top: 34px;
}

.openk_bank .name,
.bank_type {
	flex-wrap: wrap;
	padding-left: 117px;
	;
}

.bank_type input {
	border: #727272 2px solid;
}

.bank_type>div:nth-child(n+2) {
	padding-top: 47px;
}

.bank_type>div:last-of-type {
	padding-top: 53px;
}

.bank_type>div>div:first-of-type {
	display: flex;
	align-items: flex-start;
	width: 100%;
	min-height: 42px;
	max-width: 42px;
	;
}

.bank_type>div>div:last-of-type {
	margin-left: 8px;

}



.bank_type h3 {
	color: #13161C;
	font-size: 24px;
	font-weight: 500;
}

.bank_type p {
	color: #13161C;
	font-size: medium;
}

.bank_type button {
	width: 230px;
	margin-bottom: 19px;
}


/*Open a new type bank was completed */
/* ------------------ The page last investment  ------------------ */
.last_invest_page>section,
.last_events_page>section {
	overflow: initial;
	height: auto;
}

.last_invest_page h6,
.last_events_page h6 {

	font-size: 34px;
}

.last_invest_page .last_invest,
.last_events_page .last_events {
	padding: 2.8rem 0 40px 24px;
	margin-left: 0;
}

.last_invest_page .name {
	padding-left: 14px;
}

.last_invest_page .invest_table {
	padding: 27px;
	padding-left: 1.2rem;
	padding-right: 100px;
}

.last_invest_page table tr:nth-child(n+1),
.last_events_page table tr:nth-child(n+1) {
	border-bottom: 1px solid #F4F4F4;


}

.last_invest_page .table_last_invest tr:nth-child(n+2) td:nth-child(1),
.last_invest_page table tr td {
	padding-top: 11px;

}

.last_invest_page .table_last_invest th:nth-child(1),

.last_invest_page .table_last_invest tr:nth-child(n+2) td {
	padding-bottom: 16px;
}

.last_invest_page .table_last_invest th:nth-child(1),
.last_invest_page .table_last_invest td:nth-child(1) {
	width: 349px;
}

/*The page last investment was completed */
/* ------------------ It's a Footer  ------------------ */
footer {
	border-top: 1px solid #727272;
	height: 52px;
	overflow: hidden;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);


}

/* It's a Footer*/
/* ------------------ The page last events ------------------ */
.last_events_page .content {
	padding-bottom: 140px;
}

.last_events_page .events {
	padding-top: 2.9rem;
}

.last_events_page .events {
	padding-bottom: 40px;
}

.last_events_page .last_events {
	padding: 1.6rem 0 0 43px;
}
.last_events_page main>section:nth-child(2) {
	height: inherit;
}
.table_last_invest th:nth-child(1),
.table_last_invest tr:nth-child(n+2) td:nth-child(1) {
	width: 170px;
}

.last_events_page tr th:nth-child(5),
.last_events_page tr:nth-child(n+2) td:last-of-type {
	text-align: right;
	max-width: 190px;
}

.last_events_page tr:nth-child(n+2) td:last-of-type {
	max-width: 122px;
}

/* The page last events was completed */
}